.title {
  background-color: aqua;
  color: red;
  height: 50px;
  border-radius: 20px;
  margin: 0;
  padding: 10px;
}
body {
  background-color: green;
}

.title-2 {
  background-color: rgb(191, 0, 255);
}
